/.DS_Store
GuiOptimiser/screenshots/
GuiOptimiser/build/built-jar.properties
GuiOptimiser/build/classes/.netbeans_automatic_build
GuiOptimiser/build/classes/.netbeans_update_resources
GuiOptimiser/build/classes/guioptimiser/Capture.class
GuiOptimiser/build/classes/guioptimiser/GuiOptimiser.class
GuiOptimiser/dist/GuiOptimiser.jar
GuiOptimiser/dist/README.TXT
GuiOptimiser/nbproject/build-impl.xml
GuiOptimiser/nbproject/genfiles.properties
GuiOptimiser/nbproject/project.properties
GuiOptimiser/nbproject/private/private.properties
GuiOptimiser/color.csv
GuiOptimiser/nbproject/private/private.xml
GuiOptimiser/build/classes/guioptimiser/GuiOptimiser.class
target/classes/com/group1/task2/part1/~$screenOn.xlsx
